
.topTen{
    color: black;
    font-weight: bold;
}

.place{
    color: black;
}

.insideText{
    color: black;
    font-weight: 900;
    
}

.profileImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.borderBottom{
    border-bottom: solid 1px #d0d0d0
}

.row{
    padding-top: 3px;
    padding-bottom: 3px;
}



.seeMore{
    color:#2B68A0;
    text-align: center;
    padding: 6px;

}