  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="10">
          <h3 class="articles">Latest Articles For today</h3>
        </ion-col>

        <ion-col size="2">
        <ion-label class="labelClear">Clear</ion-label>
        </ion-col>
      </ion-row>


    <div class="scrolling-wrapper">
    <ion-card class="boxShadow card" *ngFor="let dt of articles">
      <ion-card-header class="noPadding">
        <img class="bgImage" src="../../../assets/bg1.jpeg">
      </ion-card-header>
      <ion-card-content class="paddingContent">
        <h4 class="myHeading"> Heading Goes here Heading Goes here</h4>
        <p class="content"> written by abc</p>
        <ion-row>
          <ion-col size="6">
            <img class="icon" src="../../../assets/star.png">
          </ion-col>
    
          <ion-col size="6">
          <small class="date">14 oct,2020</small>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    </div>




    </ion-card-content>
  </ion-card>