    .peopleYou{
        color: black;
        font-weight: bold;
    }

    .place{
        color: black;
    }

    .insideText{
        color: black;
        font-weight: 900;
    }

    .profileImage{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .mutual{
        color: #2B68A0;
        font-size: 10px;
        position: relative;
        margin-top: 8px;
    
    }

    .addIcon{
        color: #2B68A0;
        font-size: 1rem;
        border-radius: 50%;
        border: solid 1px #2B68A0;
        padding: 5px;
        position: relative;
        top: 10px;


    }

    .borderBottom{
        border-bottom: solid 1px #d0d0d0
    }

    .row{
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .verified{
    width: 15px;
    }

    .seeMore{
        color:#2B68A0;
        text-align: center;
        padding: 6px;

    }