    .labelClear{
        color: #739cc1;
        float: right !important;
    }

    .recentSearch{
        color: black;
        font-weight: bold;
    }

    .searchIcon{
        color: grey;
    }

    .insideText{
        color: black;
        font-weight: 400;
    }

    .profileImage{
        width: 17px;
        height: 17px;
        border-radius: 50%;
    }

    .institution{
        color: grey;
        font-size: 12px;
        position: relative;
        top: -7px;
    }